.info-pembeli{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bg-foto-profile-pembeli{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: #E7F6F2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.foto-profile{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.icon-ubah{
    cursor: pointer;
    transition: .2s ease;
}

.icon-ubah:hover{
    transform: rotate(180deg);
}
