.display-toko {
  max-width: 100dvw;
  height: 100%;
  min-height: 100dvh;

  background-color: white;
  margin: 0;
}

.bg-foto-profil-toko-display {
  width: 9em;
  height: 9em;
  background-color: #e7f6f2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 50%;
}

.foto-profil-toko-display {
  height: 8em;
  width: 8em;
  object-fit: cover;
  border-radius: 50%;
}

.nama-toko-display {
  height: 100%;
}

.text-item-toko-display {
  font-size: 1.5em;
  font-weight: 600;
}

.text-nama-toko-display {
  height: 100%;
  font-size: 2em;
  font-weight: 600;
  color: #0e8388;
}
