.navbar-admin{
    width: 100%;
    height: 60px;
    background-color: #2C3333;
}

.logo-skw-sidebar{
    background-color: #0E8388;
    height: 50px;
    width: 78px;
    gap: 1em;
}

.text-logo-skw-admin{
    font-family: 'Bebas Neue';
    font-size: 45px;
    color: white;
    cursor: pointer;
    transition: .2s ease;
    height: 100%;

}

.text-skw-penjual{
    font-family:'Hind Siliguri';
    font-size: 35px;
    color: white;
    height: 100%;
}

.text-navbar-admin{
    width: 100%;
    height: 100%;
    font-size: large;
    font-weight: 600;
    color: white;
}

.but-logout-admin{
    border: none;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background-color: transparent;
    transition: .2s ease;

    font-weight: 600;
    color: #f15a59;

    box-shadow: rgba(241, 90, 89, 0.16) 0px 1px 4px, rgb(241, 90, 89) 0px 0px 0px 1px;
}

.but-logout-admin:hover{
    background-color: #f15a59;
    color: white;
}
