.profil-pembeli-admin{
    height: 90dvh;
}

.text-title-halaman{
    font-size: 2em;
    font-weight: 600;
}

.search-admin{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 400px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: .2s ease;
}

.logo-search-admin{
    margin-left: 100%;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 60px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: .2s ease;
}

.search-admin:hover{
   border: 1px solid grey;
}

.logo-search-admin:hover{
   border: 1px solid grey;
}
