.navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 2px solid whitesmoke;
}

.logo {
  height: 70px;
  object-fit: cover;
  cursor: pointer;
}

.text-logo-skw {
  font-family: "Bebas Neue";
  font-size: 45px;
  color: #0e8388;
  height: 100%;
  cursor: pointer;
  transition: 0.2s ease;
}

.text-logo-skw:hover {
  transform: scale(1.1);
}

.search {
  border: none;
  border-radius: 10px 0px 0px 10px;
  height: 35px;
  width: 400px;
  transition: 0.2s ease;
}

.logo-search {
  padding: 7px;
  border-radius: 0px 10px 10px 0px;
  background-color: #e7f6f2;
  cursor: pointer;
  transition: 0.2s ease;
  height: 35px;
  width: 35px;
}

.bg-search {
  border-radius: 10px;
  box-shadow: rgba(231, 246, 242, 1) 0px 1px 3px 0px,
    rgba(231, 246, 242, 1) 0px 0px 0px 1px;
}

.search:hover {
  background-color: #9fd8c9;
}

.logo-search:hover {
  background-color: #9fd8c9;
}

.bg-keranjang-pembeli {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-color: #e7f6f2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.bg-keranjang-pembeli:hover {
  background-color: #9fd8c9;
}

.bg-photo-profile-navbar {
  background-color: #e7f6f2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 50%;
  height: 35px;
  width: 35px;

  padding: 2px;
}

.photo-profile-navbar {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  object-fit: cover;
}

.dd-profile-pembeli {
  border-radius: 20px;
  border: none;
  height: 40px;
  background-color: transparent;

  color: #0e8388;
  font-weight: 700;
  transition: 0.2s ease;
}

.dd-profile-pembeli .active {
  background-color: #0e8388;
  color: #e7f6f2;
}

.dd-profile-pembeli:hover {
  background-color: #0e8388;
  color: #e7f6f2;
}

.dd-pembeli {
  background-color: white;
  cursor: pointer;
  font-weight: 600;
  color: #0e8388;
}

.dd-pembeli:hover {
  background-color: #9fd8c9;
  color: #0e8388;
}

.but-logout-navbar-pembeli {
  color: #ed2b2a;
}

.but-logout-navbar-pembeli:hover {
  background-color: #ed2b2a;
  color: white;
}
