.page-pembeli{
    max-width: 100dvw;
    height: 100%;
    min-height: 100dvh;

    background-color: white;
    margin: 0;
}

.uwoh{
    height: 90dvh;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
}

.butlogout{
    height: 50dvh;
}

.pembeli-image{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
}