.carousel{
    width: 90%;
    min-height: 300px;
    max-height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    border-radius: 10px;
}

.img-carousel{
    border-radius: 10px;
}
