.homepage{
    max-width: 100dvw;
    height: 100%;
    min-height: 100dvh;

    background-color: white;
    margin: 0;
}

.homepage-con{
    background-color: white;

    width: auto;
    height: 100%;
    min-height: 100dvh;

    overflow-x: hidden;
    
}
