.descitem{
    max-width: 100dvw;
    height: 100%;
    min-height: 100dvh;

    background-color: white;
    margin: 0;
}

.desc-item-con{
    background-color: white;

    width: auto;
    height: 100%;
    min-height: 90dvh;

    overflow-x: hidden;
}

.desc-kiri{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.item-desc-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc-kanan{
    width: 100%;
    height: 600px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.but-cart{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: .2s ease;

    background-color: #2C74B3;
}

.text-but-cart{
    color: white;
    cursor: pointer;
}

.but-cart:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}