.footer-keranjang{
    height: 20em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#text-footer-keranjang{
    height: 100%;
}

.text-total-harga-keranjang{
    font-size: 20px;
    font-weight: 600;
}

.text-total-harga-nominal-keranjang{
    font-size: 20px;
    font-weight: bold;
    color: #0E8388;
}

.but-checkout-footer{
    border: none;
    border-radius: 5px;
    background-color: #0E8388;
    color: #E7F6F2;

    height: 40px;
    width: 100%;
    font-weight: 600;
}

.but-checkout-footer:hover{
    background-color: #08595c;
}

.text-rincian-harga{
    font-size: 1em;
    font-weight: 600;
}

.text-rincian-isi{
    font-weight: 400;
    color: grey;
}